{name}，您好：<br>
<br>
{assigner} 已將您新增為本系統的管理員，以下為您的預設密碼：<br>
<br>
<p style="font-weight: bold; font-size: larger;"><code>{password}</code><br></p>
<br>
請盡速以您註冊時使用的 Email 以及此密碼登入 Rental Planter 首頁，系統將會自動引導您至更換密碼頁面<br>
並將此預設密碼<span style="color:red; font-weight: bold;">更改為您的密碼</span>，以保障您的帳號安全。
<br>

<br>- Rental Planter 全體工作人員 <br>
敬上<br>

<p style="font-family:'Courier New'; font-style:italic;">
    _______________________
    <br>Trunk Studio
    <br>Monosparta
    <br>(04)2201 9020
    <br><a href="mailto:trunkrentalplanter@gmail.com">trunkrentalplanter@gmail.com</a>
    <br><img oncontextmenu="return false" src="https://github.com/An-HS/day4/blob/main/LOGO.png?raw=true">
</p>
